<h1>Crowdfunder</h1>

<% if current_user %>
  <%= link_to "Add a Project", new_project_path %>
<% else %>
    <p>Please login to add a project</p>
<% end %>

<div class="show-projects">
  <% if @projects.any? %>
    <h4>All Projects</h4>
    <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %>, created by <i><%= link_to project.owner.username, user_path(project.owner) %></i></li>
    <% end %>
    </ul>
  <% else %>
    <p>No Projects yet!</p>
  <% end %>
</div>
