<h1>Project Categories:</h1>

<p><%= link_to "Add a tag", new_tag_path %></p>

<% if @tags.any? %>
  <% @tags.each do |tag| %>
    <li><%= link_to "#{tag.name}", tag_path(tag) %></li>
  <% end %>
<% else %>
  <h3>No tags yet...</h3>
<% end %>
