<h1><%= @tag.name %></h1>

<%= link_to "Edit tag", edit_tag_path(@tag) %>

<% if @tag.projects.any? %>
  <% @tag.projects.each do |project| %>
    <li><%= @project.name %></li>
  <% end %>
<% else %>
  <p>No projects tagged as <i><%= @tag.name %></i> yet...</p>
<% end %>
