html,
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
#page-content {
  padding: 20px;
  padding-top: 75px;
}
#nav {
  top: 0;
  width: 100%;
  height: 75px;
  position: fixed;
  overflow: auto;
  background-color: RGBa(255, 86, 42, 0.8);
}
#nav h1 {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}
#nav h1 a {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 48px;
  text-decoration: none;
  color: inherit;
}
#nav a:hover {
  background-color: inherit;
  color: #CC3D37;
}
.nav-links,
.user-links {
  display: inline-block;
  padding-top: 40px;
}
.nav-links {
  float: right;
  padding-right: 20px;
}
.user-links {
  float: left;
  padding-left: 20px;
}
