// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-projects,
.show-tags {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin: 20px 20px 0 20px;
}
